*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: #3939ff;
    text-decoration: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#main-box {
    padding: 1em;
    border-radius: 7px;
    margin: 2em auto;
    box-shadow: 0 0 10px -5px #000;
    border: #ddd 3px solid;
    max-width: 70em;
}

#course-name {
    display: block;
    width: 100%;
    border: #ddd 3px solid;
    padding: 5px;
    font-size: 1em;
    margin-bottom: 1em;
}

#attr {
    margin: 2em 1em;
    text-align: right;
}

#sub-box {
    display: flex;
    height: 25em;
}

#results {
    list-style: none;
    padding: 0 0.5em;
    margin: 0;
    border-right: 2px solid #ccc;
    overflow-y: scroll;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    width: 15em;
}

#results li button {
    cursor: pointer;
    padding: .5em .6em;
    margin-bottom: .3em;
    background: #ddd;
    border: 0;
    width: 100%;
    text-align: left;
}

#results li button:active {
    background: #eee;
}

#results li button.no-res {
    background: #ddd;
    cursor: default;
    display: none;
}

#results li button.res-btn.selected {
    background: #f9f9f9;
}

#details {
    padding: 0 0.5em;
    height: 100%;
    overflow-y: scroll;
    flex-grow: 1;
}

td {
    width: 4em;
    text-align: center;
}

td.red {
    background: #e86363;
}

td.green {
    background: #63e879;
}

td.orange {
    background: #e8aa63;
}

.offer-hist {
    margin: 0 auto;
}

.course-head {
    font-weight: bold;
}

th {
    font-weight: normal;
}

.glance-details p {
    margin: 0.3em;
}

.glance-details {
    margin-bottom: 1em;
}